
    <div class="container-fluid main-container">

{{ include('nav.html') }}

    {% if tickets|length > 0 %}
        <div class="table-responsive">
            <table class="table table-hover">
                <tbody>
                {% for ticket in tickets %}
                    <tr>
                        <td><span class="label label-default">{{ ticket.id }}</span></td>
                        <td class="subject">
                            <a href="tickets.php?ticket={{ ticket.id }}">{{ ticket.subject }}</a>
                            <span class="details">{{ ticket.milestone_name }}</span>
                        </td>
                        <td>{{ ticket.assigned_name }}</td>
                        <td>
                            <div class="notification-icon">
                                <span class="glyphicon glyphicon-comment"></span>
                                <span class="badge">{{ ticket.comments_count }}</span>
                            </div>
                        </td>
                        <td>{{ ticket.created }}</td>
                        <td class="status">
                            <h4><span class="label" style="background-color:#{{ ticket.status_color }}">{{ ticket.status_name }}</span></h4>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div><!--/.table-responsive-->
    {% else %}
        <div class="blank-state">
            <p><b>No Tickets, yet</b></p>
            <p>No one has added any tickets yet, feel free to be the first.</p>
            <a href="?new" class="btn btn-primary">{{ new_label }}</a>
        </div>
    {% endif %}

    </div> <!--/.container-fluid .main-container-->
