
    <div class="container-fluid main-container">

{{ include('nav.html') }}

        <div class="row">
            <div id="ticket-main" data-ticket-id="{{ id }}" class="col-sm-9">
                {% if logged_in %}<a class="btn btn-default pull-right" href="?edit={{ id }}">Edit</a>{% endif %}

                {% if message|length > 0 %}
                    <div class="alert alert-{{ message.type }}" role="alert">
                        <p><strong>{{ message.title }}</strong></p>
                    {% for msg in message.messages %}
                        <p>{{ msg }}</p>
                    {% endfor %}
                    </div>
                {% endif %}

                <h1>
                    {{ subject }}
                    <small>#{{ id }}</small>
                </h1>
                <h3>{% autoescape false %}{{ created_header }}{% endautoescape %}</h3>
                <p class="description">{% autoescape false %}{{ description }}{% endautoescape %}</p>

                <div class="comment-listing container">
                {% for comment in comments %}
                    <div class="row {{ comment.type }}">
                        <div class="col-sm-1">
                            <div class="thumbnail">
                                <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                            </div>
                        </div>
                        <div class="col-sm-11">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <b>{% autoescape false %}{{ comment.name }}{% endautoescape %}</b>
                                    <small>{{ comment.date }}</small>
                                </div>
                                <div class="panel-body">
                                    {% autoescape false %}{{ comment.comment }}{% endautoescape %}
                                </div>
                            </div><!--/.panel-->
                        </div>
                    </div><!--/.row-->
                {% endfor %}
                </div><!--/.comment-listing-->

                <form method="post" action="tickets.php?ticket={{ id }}">
                    <div class="panel panel-default">
                        <div class="panel-body">

                        {% if comment_message|length > 0 %}
                            <div class="alert alert-{{ comment_message.type }}" role="alert">
                                <p><strong>{{ comment_message.title }}</strong></p>
                            {% for msg in comment_message.messages %}
                                <p>{{ msg }}</p>
                            {% endfor %}
                            </div>
                        {% endif %}

                        {% if not logged_in %}
                            <div class="form-group">
                                <label for="email">Email</label>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="email" name="email" placeholder="Email address">
                                    </div>
                                    <div class="col-sm-4">
                                        <span class="or">or</span>
                                        <a class="btn btn-link" tabindex="-1" href="login.php">Login</a>
                                    </div>
                                </div><!--/.row-->
                            </div>
                        {% endif %}
                            <div class="form-group">
                                <textarea name="comment" class="form-control" rows="5" placeholder="Leave a comment"></textarea>
                            </div>
                        </div>
                        <div class="panel-footer text-right">
                            <button type="submit" class="btn btn-primary">Comment</button>
                        </div>
                    </div>
                    <input type="hidden" name="add-comment" value="1"/>
                </form>
            </div>
            <div id="ticket-details" class="col-sm-3">
                <ul class="list-unstyled">
                    <li>
                        <b>Status</b>
                        {% if statuses %}
                        <div class="dropdown">
                            <button id="edit-status" class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="glyphicon glyphicon-edit"></span>
                            </button>
                            <ul id="edit-status-menu" class="dropdown-menu dropdown-menu-right" aria-labelledby="edit-status">
                                {% for s in statuses %}
                                <li><a id="status_{{ s.id }}" href="#">{{ s.label }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                        <h4><span id="status_label" class="label" style="background-color:#{{ status_color }}">{{ status_name }}</span></h4>
                    </li>
                    <li>
                        <b>Assigned To</b>
                        {% if assignees %}
                        <div class="dropdown">
                            <button id="edit-assignee" class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="glyphicon glyphicon-edit"></span>
                            </button>
                            <ul id="edit-assignee-menu" class="dropdown-menu dropdown-menu-right" aria-labelledby="edit-assignee">
                                {% for a in assignees %}
                                <li>
                                    <a class="{{ a.class }}" id="assignee_{{ a.id }}" href="#">
                                        <span class="glyphicon glyphicon-{{ a.class }}"></span> {{ a.label }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                        <span id="assignee_label">
                            {% if assignee_id %}
                            <a href="user.php?id={{ assignee_id }}">{{ assigned_name }}</a>
                            {% else %}
                            <i>no one</i>
                            {% endif %}
                        </span>
                    </li>
                    <li>
                        <b>Milestone</b>
                        {% if milestones %}
                        <div class="dropdown">
                            <button id="edit-milestone" class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="glyphicon glyphicon-edit"></span>
                            </button>
                            <ul id="edit-milestone-menu" class="dropdown-menu dropdown-menu-right" aria-labelledby="edit-milestone">
                                {% for m in milestones %}
                                <li>
                                    <a class="{{ m.class }}" id="milestone_{{ m.id }}" href="#">
                                        <span class="glyphicon glyphicon-{{ m.class }}"></span> {{ m.label }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                        <span id="milestone_label">
                            {% if milestone_id %}
                            <a href="milestones.php?milestone={{ milestone_id }}">{{ milestone_name }}</a>
                            ({{ milestone_due }})
                            {% else %}
                            <i>none</i>
                            {% endif %}
                        </span>
                    </li>
                    <li>
                        <b>Updated</b>
                        <span>{{ updated }}</span>
                    </li>
                    <li>
                        <b>Created</b>
                        <span>{{ created }}</span>
                    </li>
                </ul>
            </div>
        </div><!--/.row-->

    </div> <!--/.container-fluid .main-container-->
