
    <div class="container-fluid main-container">

{{ include('nav.html') }}

        <div class="row">
            <div id="ticket-main" class="col-sm-9">
                {% if logged_in %}<a class="btn btn-default pull-right" href="?edit={{ id }}">Edit</a>{% endif %}

                {% if message|length > 0 %}
                    <div class="alert alert-{{ message.type }}" role="alert">
                        <p><strong>{{ message.title }}</strong></p>
                    {% for msg in message.messages %}
                        <p>{{ msg }}</p>
                    {% endfor %}
                    </div>
                {% endif %}

                <h1>
                    {{ subject }}
                    <small>#{{ id }}</small>
                </h1>
                <h3>{% autoescape false %}{{ created_header }}{% endautoescape %}</h3>
                <p class="description">{% autoescape false %}{{ description }}{% endautoescape %}</p>

                <div class="comment-listing container">
                {% for comment in comments %}
                    <div class="row {{ comment.type }}">
                        <div class="col-sm-1">
                            <div class="thumbnail">
                                <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                            </div>
                        </div>
                        <div class="col-sm-11">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <b>{% autoescape false %}{{ comment.name }}{% endautoescape %}</b>
                                    <small>{{ comment.date }}</small>
                                </div>
                                <div class="panel-body">
                                    {% autoescape false %}{{ comment.comment }}{% endautoescape %}
                                </div>
                            </div><!--/.panel-->
                        </div>
                    </div><!--/.row-->
                {% endfor %}
                </div><!--/.comment-listing-->

                <form method="post" action="tickets.php?ticket={{ id }}">
                    <div class="panel panel-default">
                        <div class="panel-body">

                        {% if comment_message|length > 0 %}
                            <div class="alert alert-{{ comment_message.type }}" role="alert">
                                <p><strong>{{ comment_message.title }}</strong></p>
                            {% for msg in comment_message.messages %}
                                <p>{{ msg }}</p>
                            {% endfor %}
                            </div>
                        {% endif %}

                        {% if not logged_in %}
                            <div class="form-group">
                                <label for="email">Email</label>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="email" name="email" placeholder="Email address">
                                    </div>
                                    <div class="col-sm-4">
                                        <span class="or">or</span>
                                        <a class="btn btn-link" tabindex="-1" href="login.php">Login</a>
                                    </div>
                                </div><!--/.row-->
                            </div>
                        {% endif %}
                            <div class="form-group">
                                <textarea name="comment" class="form-control" rows="5" placeholder="Leave a comment"></textarea>
                            </div>
                        </div>
                        <div class="panel-footer text-right">
                            <button type="submit" class="btn btn-primary">Comment</button>
                        </div>
                    </div>
                    <input type="hidden" name="add-comment" value="1"/>
                </form>
            </div>
            <div id="ticket-details" class="col-sm-3">
                <ul class="list-unstyled">
                    <li>
                        <b>Status</b>
                        <h4><span class="label" style="background-color:#{{ status_color }}">{{ status_name }}</span></h4>
                    </li>
                    {% if assignee_id %}
                    <li>
                        <b>Assigned To</b>
                        <span>
                            <a href="user.php?id={{ assignee_id }}">{{ assigned_name }}</a>
                        </span>
                    </li>
                    {% endif %}
                    {% if milestone_id %}
                    <li>
                        <b>Milestone</b>
                        <span>
                            <a href="tickets.php?milestone={{ milestone_id }}">{{ milestone_name }}</a>
                            ({{ milestone_due }})
                        </span>
                    </li>
                    {% endif %}
                    <li>
                        <b>Updated</b>
                        <span>{{ updated }}</span>
                    </li>
                    <li>
                        <b>Created</b>
                        <span>{{ created }}</span>
                    </li>
                </ul>
            </div>
        </div><!--/.row-->

    </div> <!--/.container-fluid .main-container-->
