
    <div class="container-fluid main-container">

        <div class="row">
            <div id="user-sidebar" class="col-sm-3">
                <img src="https://placehold.it/150x150"/>
                <h2>{{ name }}</h2>
                <h4>{{ source_code_username }}</h4>
                <ul>
                    <li class="joined">{{ joindate }}</li>
                </ul>
            </div>
            <div class="col-sm-9">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="#">Participation</a></li>
                </ul>
            </div>
        </div>
    </div> <!--/.container-fluid .main-container-->
