body {
  background-color: #333333;
}
body > .alert-danger {
  margin-left: 15px;
  margin-right: 15px;
}
body > .alert-danger > pre {
  height: 300px;
  overflow: scroll;
}
.container-fluid {
  margin-left: 15px;
  margin-right: 15px;
}
.container-fluid > p.pull-right {
  margin: 0;
}
.container-fluid > .nav-tabs {
  margin-bottom: 30px;
}
.page-title > h3 {
  color: #b3b3b3;
}
.header {
  padding: 0;
}
.header > .jumbotron {
  background-color: #388cba;
  border-radius: 0;
  color: #fff;
  margin: 0;
}
.header > .nav {
  background-color: #388cba;
}
.header > .nav > li {
  margin: 0;
}
.header > .nav > li > a {
  background-color: #444;
  border-radius: 0;
  color: #b8b8b8;
  font: bold 12px/160% Arial, Helvetica, sans-serif;
  padding: 15px;
}
.header > .nav > li > a:hover {
  background-color: #333;
  color: #fff;
}
.header > .nav > li.active > a {
  background-color: #fff;
  color: #333;
}
.header > .nav > li.active > a:hover {
  background-color: #fff;
  color: #333;
}
.header > .nav > li.pull-right > a {
  background-color: #333;
  color: #b8b8b8;
}
.header > .nav > li.pull-right > a:hover {
  background-color: #222;
  color: #fff;
}
.header > .nav > li.login > a,
.header > .nav > li.logout > a {
  background-color: #79b933;
  color: #000;
}
.header > .nav > li.login > a:hover,
.header > .nav > li.logout > a:hover {
  background-color: #79b933;
  color: #fff;
}
.main-container {
  background-color: #fff;
  padding: 25px;
}
.blank-state {
  padding: 50px 0;
  text-align: center;
}
a.cancel {
  margin-left: 30px;
}
.footer {
  color: #bbb;
  padding-top: 20px;
  text-align: center;
}
.footer > img {
  width: 102px;
  margin: 0 0 5px 0;
  opacity: .3;
}
#ticket-listing th .nav-pills {
  float: left;
  width: 100%;
}
#ticket-listing th .nav-pills a {
  color: #666;
  font-size: 12px;
  font-weight: normal;
  padding: 4px 12px;
}
#ticket-listing th .nav-pills li.active > a,
#ticket-listing th .nav-pills li.active > a:focus,
#ticket-listing th .nav-pills li.active > a:hover {
  background-color: transparent;
  color: #333;
  font-weight: bold;
}
#ticket-listing th .nav-pills li .dropdown-menu {
  padding: 0 10px;
}
#ticket-page .container {
  margin-left: 0;
}
#ticket-page .or {
  padding-right: 20px;
}
#ticket-main > p.description {
  margin: 0 0 50px 0;
}
#ticket-main .panel > .panel-heading > small {
  color: #999;
  padding-left: 10px;
}
#ticket-main form .panel {
  margin: 30px 0 20px 0;
  max-width: 800px;
}
#ticket-main .comment-listing {
  border-top: 1px solid #ddd;
  margin: 0;
  max-width: 800px;
  padding: 20px 0 0 0;
  width: auto;
}
#ticket-main .comment-listing .thumbnail {
  padding: 0px;
}
#ticket-main .comment-listing .panel {
  position: relative;
}
#ticket-main .comment-listing .panel > .panel-heading:after,
#ticket-main .comment-listing .panel > .panel-heading:before {
  position: absolute;
  top: 11px;
  left: -16px;
  right: 100%;
  width: 0;
  height: 0;
  display: block;
  content: " ";
  border-color: transparent;
  border-style: solid solid outset;
  pointer-events: none;
}
#ticket-main .comment-listing .panel > .panel-heading:after {
  border-width: 7px;
  border-right-color: #f7f7f7;
  margin-top: 1px;
  margin-left: 2px;
}
#ticket-main .comment-listing .panel > .panel-heading:before {
  border-right-color: #ddd;
  border-width: 8px;
}
#ticket-main .comment-listing .details .thumbnail {
  display: none;
}
#ticket-main .comment-listing .details .panel {
  border: none;
  position: static;
}
#ticket-main .comment-listing .details .panel > .panel-heading:after,
#ticket-main .comment-listing .details .panel > .panel-heading:before {
  display: none;
}
#ticket-main .comment-listing .details .panel > .panel-heading {
  display: none;
}
#ticket-main .comment-listing .details .panel > .panel-body {
  padding: 0;
}
#ticket-main .comment-listing .details .panel > .panel-body span.glyphicon {
  padding: 0 15px;
}
#ticket-main .comment-listing .details .panel > .panel-body small {
  color: #999;
  padding: 0 0 0 15px;
}
#ticket-details > ul {
  background-color: #f3f3f3;
  margin-top: 20px;
  padding: 20px;
}
#ticket-details > ul > li {
  border-bottom: 1px solid #ddd;
  font-size: 13px;
  margin: 0 0 10px 0;
  padding: 0 0 5px 0;
}
#ticket-details > ul > li > b {
  display: block;
}
#ticket-details > ul > li > .dropdown {
  float: right;
  margin-top: -21px;
}
#new-ticket #description,
#edit-ticket #description {
  height: 250px;
  min-height: 250px;
}
td.subject > a {
  font-size: 18px;
}
td.subject > .details {
  display: block;
  font-size: 11px;
  padding: 4px 0 0 0;
}
td.subject > .details a {
  color: #333;
}
td.status > h4 {
  margin: 0;
}
td.status > h4 > .label {
  display: inline-block;
  min-width: 120px;
  padding: .4em 1.4em .3em;
}
.notification-icon {
  position: relative;
  text-align: center;
}
.notification-icon .glyphicon {
  font-size: 23px;
  color: gray;
}
.notification-icon .badge {
  background-color: #333;
  position: absolute;
  top: -5px;
  margin-left: -11px;
}
.notification-icon .zero {
  display: none;
}
#milestone-listing td.percent {
  padding-top: 20px;
  width: 40%;
}
#milestone-listing td.percent div.progress {
  height: 50px;
}
#milestone-listing td.percent div.progress .progress-bar {
  padding-top: 12px;
}
#user-sidebar {
  text-align: center;
}
#user-sidebar ul {
  list-style-type: none;
  padding: 0;
}
