<!DOCTYPE html>
<html lang="{{ language }}">
<head>
<title>{{ site_title }} - powered by Lucy</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Lucy - The ultimate tool for your open source project.">
<meta name="author" content="Ryan Haudenschilt">
<link rel="icon" type="image/png" href="templates/default/img/favicon.png" />
<script src="vendor/components/jquery/jquery.min.js"></script>
<script src="vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="templates/default/js/lucy.js"></script>
<link rel="stylesheet" href="vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="templates/default/css/style.css">
{% autoescape false %}
{{ js_includes }}
{{ js_code }}
{{ css_includes }}
{% endautoescape %}
</head>
<body>
    <div class="container-fluid page-title">
        <h3>{{ site_title }}</h3>
    </div>

{{ include('navigation.html') }}
